# ==========================================
# NETBEANS
# ==========================================

# NetBeans privatni podaci 
nbproject/private/

# Kompajlirani fajlovi
build/
dist/
nbbuild/
nbdist/

# Java kompajlirani fajlovi
*.class

# ==========================================
# OS
# ==========================================

# Windows
Thumbs.db
desktop.ini

# For Mac
.DS_Store

# Konfiguracija sa lozinkama
**/config.properties